* {
    background-color: #1c2f3c;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn_save {
    text-align: center;
    margin-top: 0;
    padding-bottom: 18px;
}

#Record {
    border: 0;
    border-radius: 15px;
    color: #d9d9d8;
    background-image: linear-gradient(to right, #540cca, #e53232);
    font-size: 16px;
    padding: 16px 26px;
}

#Record:hover {
    background-image: linear-gradient(to left, #ffffff, #757575);
    color: #4e4e4e;
    cursor: pointer;
}
